html, body {
  max-height: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, black, #1c1c1c);
  color: white;
}

.form-container {
  margin: 15% auto;
  width: 25%;
  height: 25%;
  height: 25%;
  background-color: #0E2A2C;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 10px;
}

.form-container input[type="submit"] {
  display: none;
}
